### Pandas is an open source Python library providing high-performance, easy-to-use data structures and data analysis tools.

* Runs on top of NumPy.
* Very popular for data science.

### NumPy
* Low-level data structure (np.array)
* Support for large multi-dimensional arrays and matrices
* A wide range of mathematical array operations.

### Pandas
* High-level data structures (data frame).
* More streamlined handling of tabular data, and rich time series functionality.
* Data alignment, missing-data friendly statistics, groupby, merge and join methods.
* You can use Pandas data structures, and freely draw on NumPy and SciPy functions to manipulate them.

numpy > pandas, scipy, matplotlib > sklearn(sciKit) then other Datascience and Machine learning libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
titanic_df = pd.read_excel('titanic.xls', 'titanic', index_col=None, na_values=['NA'])

CLASS
     0=crew
     1=first
     2=second
     3=third

AGE
     1=adult
     0=child

SEX
     1=male
     0=female

SURVIVE
     1=yes
     0=no

In [ ]:
titanic_df.tail()

In [ ]:
titanic_df.describe()

In [ ]:
pd.value_counts(titanic_df['SURVIVE']).plot.bar()

In [ ]:
titanic_df['SURVIVE'].mean()

In [ ]:
titanic_df.groupby(['SEX']).mean()

In [ ]:
titanic_df.groupby(['SEX','CLASS']).mean()

In [ ]:
titanic_df[titanic_df['AGE']==0].groupby(['SEX','CLASS']).mean()